body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.bloco_perfil>a {
  text-decoration: none;
  color: black;
}

.bloco_nav>a {
  text-decoration: none;
  color: black;
}

.upload {
  display: flex;
  width: 60%;
  height: 40%;
  margin-top: 50%;
  margin-left: 20%;
}

.botaocurriculo {
  border-radius: 2vh;
  width: 80%;
  height: 13vh;
  font-size: 2vw;
  font-weight: bold;
  margin: 5vh; /* Margem em volta do botão */
  text-align: center; /* Centraliza o texto dentro do botão */
}



.sobreimg {
  position: absolute; /* Permite posicionar em relação à column1 */
  bottom: 20px; /* Distância do fundo */
  right: 20px; /* Distância da direita */
  display: flex; /* Usar flexbox para alinhar o texto e a imagem */
  align-items: center; /* Alinha verticalmente o texto e a imagem */
}
.sobreimg img {
  max-width: 100%; /* Faz a imagem ser responsiva */
  height: auto; /* Mantém a proporção da imagem */
  /* Você pode definir uma altura específica se necessário */
  height: 8vh; /* Ajuste conforme necessário */
}

.sobreimg p {
  margin-right: 10px; /* Espaçamento entre o texto e a imagem */
  font-size: 4vh; /* Tamanho da fonte do texto "Sobre" */
  text-decoration: none;
}

.sem-sublinhado {
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Mantém a cor do texto do pai */
}

