.bloco_perfil>a {
  text-decoration: none;
  color: black;
}

.bloco_nav>a {
  text-decoration: none;
  color: black;
}

.upload {
  display: flex;
  width: 60%;
  height: 40%;
  margin-top: 50%;
  margin-left: 20%;

}