body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.bloco_perfil>a {
  text-decoration: none;
  color: black;
}

.bloco_nav>a {
  text-decoration: none;
  color: black;
}

.upload {
  display: flex;
  width: 60%;
  height: 40%;
  margin-top: 50%;
  margin-left: 20%;
}

.botaocurriculo {
  border-radius: 2vh;
  width: 25%;
  height: 12vh;
  font-size: 2vw;
  font-weight: bold;
  margin: 5vh;
  margin-left: 25%;
  position: absolute;
  top: 50%;
}



.sobreimg {
  position: absolute;
  bottom: 0;
  left: 24%;
}
