body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}




.tamanhodotexto1{
    font-size: 5vh;  
}
h1 {
    text-align: center;
    color: #000000;
    font-size: 8vh;
}

.form-group {
    margin-bottom: 20px;
}
.container {
    max-width: 120vh;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(0, 185, 71);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2vh;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    border-radius: 40px;
    width: 85%;
    height: 12vh;
    font-size: 3vw;
    font-weight: bold;
    margin: 1vh;
    margin-left: 2vw;
}


.tamanhodotexto{
    font-size: 5vh;
    color: black; 
}

button:hover {
    background-color: #84ff8a;
    transform: scale(1.1);
}