* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(234, 255, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.square {
    width: 50vw;
    height: 60vh;
    background-color: rgb(0, 185, 71);
    margin-top: 20vh;
    border-radius: 2vh;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    margin-top: 15vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group {
    display: flex;
    justify-content: center;
    font-size: 5vh;
}

.tamanhodotexto5{
    font-size: 5vh;
    color: black;
}
.tamanhodotexto50{
    font-size: 5vh;
    color: black;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    margin-top: 4vh;

}

.enviar {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(255, 243, 192);
    margin-top: 2vh;
    width: 7vw;
    height: 6vh;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#email {
    height: 5vh;
    border-radius: 4px;
    background-color: white;
}

#name {
    height: 5vh;
    border-radius: 4px;
    background-color: white;
}
#password {
    height: 5vh;
    border-radius: 4px;
    background-color: rgb(228, 228, 228);
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}