* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.column2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;

}

.card-container a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: inherit; /* Mantém a cor do texto do pai */
}

.card-container:nth-child(4n) {
  grid-column: 1;
}

.card {
  margin-top: 7%;
  width: 30vw;
  height: 40vh;
  margin-bottom: 20px;
  padding: 20px;  
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  background-color: #ccc;
}

.card h3 {
  margin-top: 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.card p {
  margin-bottom: 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.novavaga {
  font-size: 30px;
}

h2 {
  font-size: 30px; /* Tamanho da fonte */
  margin: 20px 0; /* Margem superior e inferior */
  text-align: center; /* Centraliza o texto */
}

.bloco_perfil>a {
  text-decoration: none;
  color: black;
  
}

.loginecadastro>a {
  text-decoration: none;
  color: black;
  
}

.bloco_nav{
  text-decoration: none;
  color: black;
}

.loginecadastro{
  display: flex;
  text-decoration: none;
  color: black;
}

.sobreimg {
  position: absolute; /* Permite posicionar em relação à column1 */
  bottom: 20px; /* Distância do fundo */
  right: 20px; /* Distância da direita */
  display: flex; /* Usar flexbox para alinhar o texto e a imagem */
  align-items: center; /* Alinha verticalmente o texto e a imagem */
}
.sobreimg img {
  max-width: 100%; /* Faz a imagem ser responsiva */
  height: auto; /* Mantém a proporção da imagem */
  /* Você pode definir uma altura específica se necessário */
  height: 8vh; /* Ajuste conforme necessário */
}

.sobreimg p {
  margin-right: 10px; /* Espaçamento entre o texto e a imagem */
  font-size: 4vh; /* Tamanho da fonte do texto "Sobre" */
  text-decoration: none;
}

.sem-sublinhado {
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Mantém a cor do texto do pai */
}
