body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 8vh;
}

.form-group {
    display: flex; /* Usa flexbox para alinhar os itens em linha */
    align-items: center; /* Alinha verticalmente ao centro */
    margin-bottom: 15px; /* Espaçamento entre os grupos de formulário */
}

label.tamanhotexto {
    font-size: 4vh;
    width: 30%; /* Ajuste a largura do rótulo conforme necessário */
    margin-right: 10px; /* Espaçamento entre o rótulo e o input */
    font-weight: bold; /* Deixa o rótulo em negrito */
    font-size: 2.9vh;
}

input.tamanhotexto {
    font-size: 4vh;
    width: 70%; /* Ajuste a largura do campo de entrada */
    padding: 10px; /* Preenchimento interno */
    border: 1px solid #ccc; /* Borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
}







.apagar-vaga {
    padding: 10px 15px;
    font-size: 30px;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.enviar-curriculo {
    padding: 10px 15px;
    font-size: 30px;
    color: white;
    background-color: #00892b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ffcfcf;
    transform: scale(1.04);
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}