* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  
}

.card-container:nth-child(4n) {
  grid-column: 1;
}

.card {
  margin-top: 7%;
  width: 30vw;
  height: 40vh;
  margin-bottom: 20px;
  padding: 20px;  
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
}

.card h3 {
  margin-top: 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.card p {
  margin-bottom: 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.novavaga {
  font-size: 30px;
}

h2 {
  font-size: 40px;
  display: grid;
}

.bloco_perfil>a {
  text-decoration: none;
  color: black;
}

.bloco_nav>a {
  text-decoration: none;
  color: black;
}